.botao{
  background-color: #6278F7;
  border-radius: 10px;
  font-weight: 700;
  padding: 32px;
  border: none;
  cursor: pointer;
  color: #FFFFFF;
  margin: 32px 0;
  transition: 0.3s;
}

.botoa:hover{
  color: #95FFD4;
}