.botao{
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  background-color: #6278F7;
  border-radius: 10px;
  font-weight: 700;
  padding: 32px;
  border: none;
  cursor: pointer;
  color: #FFFFFF;
  margin: 32px 0;
  transition: 0.3s;

}

.botao:hover{
  color: #95FFD4;
}