.time {
  text-align: center;
  padding: 32px;
  background-color: #d9f7e9;
}

.time h3 {
  font-family: "Prata", serif;
  font-size: 32px;
  display: inline-block;
  padding-bottom: 8px;
  position: relative;
  border-bottom: 4px solid;
}

/* Centralizando o underline */

.time h3::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 40%;
  width: 18%;
  
}

.time .colaboradores {
  display: flex;
  justify-content: space-around;
  margin: 36px;
  flex-wrap: wrap;
}

